.about-us__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 270px;
}
.about-us__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    width: 270px;
}

.about-us {
    display: flex;
}
.about-us__card:not(:last-child) {
    margin-right: 30px;
}
.about-us__block {
    display: block;
    content: "";
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
