:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-color: #212121;
    --secondary-color: #757575;
    --white-color: #fff;
    --accent-color: #2196f3;
    --background-secondary-color: #2F303A;
    --icons-color: #AFB1B8;
}